<div class="container-fluid">
    <h1>Form</h1>
    <form #userForm="ngForm">
      {{userForm.value | json}}
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" ngModel>
      </div>

      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email" ngModel>
      </div>

      <div class="form-group">
        <label for="">Interested in</label>
        <select class="custom-select" name="topic"  ngModel>
          <option *ngFor="let topic of topics">{{topic}}</option>
        </select>
      </div>

      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="send" ngModel>
        <label class="form-check-label">
          Send me offer
        </label>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>