<div class="container-fluid">
    <h2>Reactive Form</h2>
    <form [formGroup]=registrationForm>
        <div class="form-group">
            <label for="">Username</label>
            <input formControlName="userName" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input formControlName="password" type="password" class="form-control">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{{registrationForm.value | json}}
</div>